.about {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about__heading {
  @include heading-s();
  text-align: left;
  margin: 0;
}

.about__text {
  text-align: left;
  color: var(--basic-black-lighten);
  margin: 0;
}

.about__link {
  font-size: 14px;
  width: 200px;
}

@media (min-width: $tablet-width) {
  .about__heading {
    @include heading-m();
  }
}

@media (min-width: $desktop-width) {
  .about__heading {
    @include heading-l();
  }
}
//////////
