.contacts {
  background-color: var(--basic-grey);
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 35px;
}

.contacts__block {
  &--socials,
  &--basis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 288px;
  }

  &--socials {
    padding-top: 5px;
  }
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black-lighten);
  margin-bottom: 10px;
  transition: all 0.4s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__link span {
  padding-left: 10px;
}

.contacts__block--socials .contacts__link {
  margin-right: 10px;
}

.contacts__block--basis .contacts__link {
  flex-basis: 288px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .contacts__block {
    &--socials {
      flex-basis: 250px;
      justify-content: flex-start;
    }

    &--basis {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  .contacts__block--socials svg {
    width: 55px;
    height: 55px;
  }

  .contacts__block--basis .contacts__link {
    flex-basis: initial;
    margin-left: 30px;
  }

  .contacts__block--basis svg {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    padding-top: 80px;
    padding-bottom: 55px;
  }
}
