.last-works {
  background-color: var(--basic-grey);
  padding: 50px 0 25px 0;
}

.last-works h2 {
  @include heading-s();
  max-width: 288px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.last-works__list {
  max-width: 288px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.last-works__item {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-color2);
  border-radius: 8px;
  margin-bottom: 35px;
}

.last-works__img {
  display: block;
  background-color: var(--basic-black-lighten);
  border-radius: 4px 4px 0 0;
  margin: 0 auto 20px auto;
}

.last-works__block {
  background-color: var(--basic-white);
  border-top: 2px solid var(--basic-color2);
  padding-top: 20px;
  margin: 0 20px;
}

.last-works__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  margin: 0;
}

.last-works__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.last-works__heading {
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  padding-bottom: 10px;
  margin: 0;
}

.last-works__specification {
  list-style: none;
  text-align: left;
  padding: 0 0 15px 0;
  margin: 0;
}

.last-works__specification li {
  position: relative;
  line-height: 20px;
  padding-left: 25px;
  padding-bottom: 10px;
}

.last-works__specification li::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 5px;
  left: 0;
  background-image: url("../img/icon-mark-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.last-works__link {
  display: block;
  color: var(--basic-black);
  background-color: var(--basic-color2);
  border-radius: 6px;
  padding: 8px;

  &--repo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.last-works__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .last-works {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .last-works h2 {
    @include heading-m();
    max-width: 626px;
    padding-bottom: 40px;
  }

  .last-works__block {
    display: none;
  }

  .last-works__list {
    max-width: 626px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    margin: 0 auto;
  }

  .last-works__item {
    background-color: var(--basic-grey);
    border: none;
    margin-bottom: 0;
  }

  .last-works__img {
    width: 626px;
    height: 380px;
    border-radius: 4px;
    margin-bottom: 0;
  }

  .last-works__button {
    display: block;
    font-weight: 500;
    margin: 15px auto 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .last-works {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .last-works h2 {
    @include heading-l();
    max-width: 826px;
    padding-bottom: 40px;
  }

  .last-works__list {
    max-width: 826px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .last-works__img {
    width: 826px;
    height: 520px;
  }

  .last-works__button {
    font-size: 18px;
  }
}
