.wrapper {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: $desktop-width;
    padding: 0 30px;
  }
}
