:root {
  --basic-white: rgba(255, 255, 255, 1);
  --basic-grey: rgba(246, 247, 249, 1);
  --basic-black: rgba(0, 0, 0, 1);
  --basic-black-lighten: rgba(44, 46, 63, 0.9);
  --basic-color1: rgb(181, 195, 214);
  --basic-color2: rgb(197, 213, 232);

  --special-grey-light: rgba(72, 73, 77, 1);
  --special-grey-lighten: rgb(201, 204, 212, 1);
}

$font-family-basic: "Montserrat", "Arial", sans-serif;
$desktop-width: 1024px; // от 1024px и выше
$tablet-width: 768px; // 768px - 1023px;
$mobile-width: 320px; // 320px - 767px;

@mixin heading-s() {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--basic-black);
}

@mixin heading-m() {
  font-size: 30px;
  line-height: 45px;
}

@mixin heading-l() {
  font-size: 55px;
  line-height: 88px;
}
